
<div class = "grid-system">
  from

  <div class = "select-style"> 
  <select  (change)= "getCurrentCurrency($event)">
    <option disabled selected value> -- select a currency -- </option>
    <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
  </select></div>
  <input  type ="text" [(ngModel)] = "inputValue">
  <span>{{this.base}} </span>
</div>


<div class = "grid-system">
to
<div class = "select-style"> 
<select (change)= "getNextCurrency($event)">
  <option disabled selected value> -- select a currency -- </option>
   <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>

</select></div>
<button *ngIf="base && symbols" (click) = "convert()">Convert</button>
</div>
<span *ngIf = "exchangerate">{{firstValue | currencyConverter: exchangerate | currency:symbols}} </span>
